::-webkit-scrollbar{
    width: 8px;
}
    
.dark ::-webkit-scrollbar-track:vertical{
    background-color: theme('colors.zinc.600');
    border-radius: 12px;
}
    
.dark ::-webkit-scrollbar-thumb:vertical{
    background-color: theme('colors.zinc.400');
    border-radius: 12px;
}

::-webkit-scrollbar-track:vertical{
    background-color: theme('colors.zinc.200');
    border-radius: 12px;
}
    
::-webkit-scrollbar-thumb:vertical{
    background-color: theme('colors.zinc.400');
    border-radius: 12px;
}

div::-webkit-scrollbar{
    width: 12px;
}
    
.dark div::-webkit-scrollbar-track:vertical{
    background-color: theme('colors.zinc.600');
    border-radius: 12px;
}
    
.dark div::-webkit-scrollbar-thumb:vertical{
    background-color: theme('colors.zinc.400');
    border-radius: 12px;
}

pre::-webkit-scrollbar{
    height: 8px;
}
    
.dark pre::-webkit-scrollbar-track:horizontal{
    background-color: theme('colors.zinc.600');
    border-radius: 12px;
}
    
.dark pre::-webkit-scrollbar-thumb:horizontal{
    background-color: theme('colors.zinc.400');
    border-radius: 12px;
}


div::-webkit-scrollbar-track:vertical{
    background-color: theme('colors.zinc.200');
    border-radius: 12px;
}
    
div::-webkit-scrollbar-thumb:vertical{
    background-color: theme('colors.zinc.400');
    border-radius: 12px;
}

pre::-webkit-scrollbar-track:horizontal{
    background-color: theme('colors.zinc.200');
    border-radius: 12px;
}
    
pre::-webkit-scrollbar-thumb:horizontal{
    background-color: theme('colors.zinc.400');
    border-radius: 12px;
}